doctype html
head
  include headTemplate.pug
  title Movie Page
  link(rel="stylesheet", href="/styles/movie.css")
  
body
  include navigationTemplate.pug
  main
    input.search-bar(type='text' placeholder='Search...')
    .row
      .main-column
        .title-background
          h1 #{movie.Title}
        .movie-stats
          h3 
            each genre in movie.Genre
              li=genre
          h3 #{movie.Year} | #{movie.Rated} | #{movie.Runtime} 
        .plot-summary
          p #{movie.Plot}
        .row
          .column
            .reviews-background
              | REVIEWS
            .scrollable-div
              each review in movie.Reviews
                //h3 Review by #{users[reviews[review]["reviewerId"]]["username"]}}
                hr
                p #{reviews[review]["review"]}
          .column
            .reviews-background
              | SIMILAR MOVIES
            .scrollable-div
              each similarMovieId in movie.SimilarMovies
                  a(href="/movies/" + similarMovieId) #{movies[similarMovieId]["Title"]}
                  br
      .main-column
        button(type='button')
          | Watch +
        .people-header
          | DIRECTORS
        .white-textbox
          each director in movie.Director
              a(href="/persons/" + "1") #{director}
              br
        .people-header
          | WRITERS
        .white-textbox
          each writer in movie.Writer
              a(href="/persons/" + "1") #{writer}
              br
        .people-header
          | ACTORS
        .white-textbox
          each actor in movie.Actors
              a(href="/persons/" + "1") #{actor}
              br
      .main-column
        label(for='rating') Rating (/10):
        input#rating(type='number' step='0.1' min='0' max='10' placeholder='/10')
        br
        label(for='reviewSummary') Review Summary: 
        input#reviewSummary(type='text' placeholder='Write your review summary...')
        button#submitBasicReview(type='button') SUBMIT BASIC REVIEW
        br
        label(for='fullReview') Full Review Text:
        input#fullReview(type='text' placeholder='Write your full review...')
        button#submitFullReview(type='button') SUBMIT FULL REVIEW

        
