doctype html
head
  meta(charset='UTF-8')
  title Movie Page
  style
    include ../public/styles/styles.css
    include ../public/styles/movie.css
  
body  
  main
    input.search-bar(type='text' placeholder='Search...')
    .row
      .main-column
        .title-background
          h1 #{movie.Title}
        .movie-stats
          h3 
            each genre in movie.Genre
              li=genre
          h3 #{movie.Year} | #{movie.Rated} | #{movie.Runtime} 
        .plot-summary
          p #{movie.Plot}
        .row
          .column
            .reviews-background
              | REVIEWS
            .reviews
              each review in movie.Reviews
                li=review
          .column
            .reviews-background
              | SIMILAR MOVIES
            .reviews
              each similarMovie in movie.SimilarMovies
                  li=similarMovie
      .main-column
        button(type='button')
          | Watch +
        .people-header
          | DIRECTOR
        .white-textbox
          each director in movie.Director
              li=director
        .people-header
          | WRITER
        .white-textbox
          each writer in movie.Writer
              li=writer
        .people-header
          | ACTORS
        .white-textbox
          each actor in movie.Actors
              li=actor
      .main-column
        label(for='rating') Rating (/10):
        input#rating(type='number' step='0.1' min='0' max='10' placeholder='/10')
        br
        label(for='reviewSummary') Review Summary: 
        input#reviewSummary(type='text' placeholder='Write your review summary...')
        button#submitBasicReview(type='button') SUBMIT BASIC REVIEW
        br
        label(for='fullReview') Full Review Text:
        input#fullReview(type='text' placeholder='Write your full review...')
        button#submitFullReview(type='button') SUBMIT FULL REVIEW
