doctype html
head
  include headTemplate.pug
  title Movie Page
  link(rel="stylesheet", href="/styles/movie.css")
  
body
  include navigationTemplate.pug
  main
    .row
      .main-column
        input(id="movieId" type="hidden" value=movie._id)
        p(id="errorWatch" class="error")
          span &times;
          | Error with adding to watchlist
        button(class="btn btn-outline-success" title="Add to watchlist" style=`${(movie.watched)?"display:none;":""}` id="watch" type='button')
          | Watch +
        button(class="btn btn-success" title="Remove from watchlist" id="unwatch" style=`${(movie.watched)?"":"display:none;"}` type='button') Watched 
          i(class="fas fa-check")
        .title-background
          h1 #{movie.title}
        .movie-stats
          h3 
            each genre in movie.genre
              li
                a(href=`/movies?genre=${genre}`) #{genre}
          h3 #{movie.year} | #{movie.averageRating}/10 | #{movie.runtime} 
        .plot-summary
          p #{movie.plot}
        .row
          .column
            .reviews-background
              | REVIEWS
            .scrollable-div
              each review in movie.reviews
                h3 Review by 
                  a(href=`/users/${review.reviewer._id}`) #{review.reviewer.username}
                p #{review.reviewSummary} | #{review.rating}/10
                p #{review.fullReview}
                h6 Written #{new Intl.DateTimeFormat('en-CA', { dateStyle: 'full', timeStyle: 'long' }).format(review.reviewDate)}
                hr
          .column
            .reviews-background
              | SIMILAR MOVIES
            .scrollable-div
              //- each similarMovieId in movie.SimilarMovies
              //-     a(href="/movies/" + similarMovieId) #{movies[similarMovieId]["Title"]}
              //-     br
      .main-column
        .people-header
          | DIRECTORS
        .white-textbox
          each director in movie.director
              a(href=`/persons/${director._id}`) #{director.name}
              br
        .people-header
          | WRITERS
        .white-textbox
          each writer in movie.writer
              a(href=`/persons/${writer._id}`) #{writer.name}
              br
        .people-header
          | ACTORS
        .white-textbox
          each actor in movie.actor
              a(href=`/persons/${actor._id}`) #{actor.name}
              br
      .main-column
        if contributing
          p(id="error")
            span &times;
            | All fields are required and rating must be a number between 0 and 10
          label(for='rating') Rating (/10):
          input#rating(type='number' step='0.1' min='0' max='10' required placeholder='/10')
          br
          label(for='reviewSummary') Review Summary: 
          input#reviewSummary(type='text' required placeholder='Write your review summary...')
          br
          label(for='fullReview') Full Review Text:
          br 
          textArea#fullReview(required)
          br
          button#submitFullReview(type='button') SUBMIT FULL REVIEW
          script(src="/scripts/addReview.js")
        else 
          div(class="white-textbox")
            p Switch your account type to a contributing user to add a review.
        
        script(src="/scripts/movies.js")

        
