doctype html
head
  meta(charset='UTF-8')
  title Person Page
  style
    include ../public/styles/styles.css
    include ../public/styles/person.css
  
main
  input.search-bar(type='text' placeholder='Search...')
  .row
    .left-div
      .row
        .name-background
          h1
            | #{person.firstName} #{person.lastName} 
        button(type='button')
          | FOLLOW +
      .row
        .column
          .orange-background
            | DIRECTED
          .scrollable-div
            each movie in person.directed
              li=movie
        .column
          .orange-background
            | WRITTEN
          .scrollable-div
            each movie in person.written
              li=movie
        .column
          .orange-background
            | ACTED IN
          .scrollable-div
            each movie in person.actedIn
              li=movie
    .right-div
      .orange-background
        | TOP 5 COLLABORATORS
      each collaborator in person.top5
        .white-background
          | #{collaborator}
      
