doctype html
head
  include headTemplate.pug
  title Person Page
  link(rel="stylesheet", href="/styles/person.css")

body
  include navigationTemplate.pug
  main
    .row
      .left-div
        .row
          .name-background
            input(type="hidden" id="personId" value=person._id)
            h1
              | #{person.name}
          button(class="btn btn-outline-success" title="Follow person" style=`${(following)?"display:none;":""}` id="follow" type='button') Follow +
          button(class="btn btn-success" title="Unfollow person" id="unfollow" style=`${(following)?"":"display:none;"}` type='button') Following 
            i(class="fas fa-check")
          p(id="error" class="error")
            span &times;
            | Error with following user
        .row
          if person.director.length > 0
            .column
              .orange-background
                | DIRECTED
              .scrollable-div
                each movie in person.director
                  a(href=`/movies/${movie._id}`) #{movie.title} (#{movie.year})
                  br
          
          if person.writer.length > 0
            .column
              .orange-background
                | WROTE
              .scrollable-div
                each movie in person.writer
                  a(href=`/movies/${movie._id}`) #{movie.title} (#{movie.year})
                  br
          
          if person.actor.length > 0
            .column
              .orange-background
                | ACTED IN
              .scrollable-div
                each movie in person.actor
                  a(href=`/movies/${movie._id}`) #{movie.title} (#{movie.year})
                  br

      .right-div
        .orange-background
          | TOP 5 COLLABORATORS
  script(src="/scripts/person.js")