if(loggedIn == undefined)
    -var loggedIn = false

html
    head
        include headTemplate.pug
        link(rel="stylesheet", href="/styles/index.css")
        title #{currentUser["username"]} · Profile
    body
        include navigationTemplate.pug
        main
            div(id="user_div")
                div(id="user_img")
                    img(src="/images/user.png", alt="Image for User", width="90", height="90")
                div(id="user_info")
                    div
                        h2 #{currentUser["username"]}
                        if(loggedIn)
                            div(id="switch-account")
                                i(class="fas fa-cog")
                                span Switch to #{(contributing)?"Non-":""}Contributing User
                            p(id="error" class="error")
                                span &times;
                                | Error with switching account
                                
                    input(type="hidden" id="userId" value=currentUser._id)
                    p Member since #{currentUser["dateAccountCreated"].getFullYear()}
                    p #{(currentUser["contributingUser"])?"Contributing User":"Non-contributing User"}
                    p Wrote #{(currentUser["reviews"]==null)?"no": currentUser["reviews"].length} reviews
                    div(class="btn-group" role="group")
                        button(type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false") Followed by #{currentUser["usersFollowedBy"].length} User#{(currentUser["usersFollowedBy"].length > 1 || currentUser["usersFollowedBy"].length == 0)?"s":""}
                        ul(class="dropdown-menu")
                            each followed in currentUser.usersFollowedBy 
                                li
                                    a(class="dropdown-item" href=`/users/${followed._id}`) #{followed.username}
                        button(type="button" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false") Following #{currentUser["usersFollowing"].length} User#{(currentUser["usersFollowing"].length > 1 || currentUser["usersFollowing"].length == 0)?"s":""}
                        ul(class="dropdown-menu")
                            each following in currentUser.usersFollowing 
                                li
                                    a(class="dropdown-item" href=`/users/${following._id}`) #{following.username}
                        button(type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false") Following #{currentUser["personsFollowing"].length} #{(currentUser["personsFollowing"].length > 1 || currentUser["personsFollowing"].length == 0)?"People":"Person"}
                        ul(class="dropdown-menu")
                            each person in currentUser.personsFollowing 
                                li
                                    a(class="dropdown-item" href=`/persons/${person._id}`) #{person.name}
            br
            if(loggedIn)
                div(id="notifications")
                    div
                        button(type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false")
                            i(class="fas fa-bell")
                            span Notifications
                        ul(class="dropdown-menu" id="notifs")
            else
                button(class="btn btn-outline-success" title="Follow user" style=`${(currentUser.followed)?"display:none;":""}` id="follow" type='button') Follow +
                button(class="btn btn-success" title="Unfollow user" id="unfollow" style=`${(currentUser.followed)?"":"display:none;"}` type='button') Following 
                    i(class="fas fa-check")
                p(id="error" class="error")
                    span &times;
                    | Error with following user

            div(id="tab-info")
                ul(class="nav nav-tabs",id="myTab", role="tablist")
                    if(loggedIn == true)
                        li(class="nav-item", role="presentation")
                            button(class="nav-link active", id="feed-tab", data-bs-toggle="tab", data-bs-target="#feed", type="button", role="tab", aria-controls="feed", aria-selected="true") Feed
                    
                    li(class="nav-item" role="presentation")
                        button(class=`nav-link${(loggedIn)? "": " active"}`, id="watchlist-tab", data-bs-toggle="tab", data-bs-target="#watchlist", type="button", role="tab", aria-controls="watchlist", aria-selected="false") Watchlist
                    if(loggedIn == true)
                        li(class="nav-item" role="presentation")
                            button(class="nav-link", id="recommended-tab", data-bs-toggle="tab", data-bs-target="#recommended", type="button", role="tab", aria-controls="recommended", aria-selected="false") Recommended Movies
            
                    li(class="nav-item" role="presentation")
                        button(class="nav-link", id="reviews-tab", data-bs-toggle="tab", data-bs-target="#reviews", type="button", role="tab", aria-controls="reviews", aria-selected="false") Reviews
                    
                div(class="tab-content", id="user-tabs")
                    if(loggedIn == true)
                        div(class="tab-pane fade show active", id="feed", role="tabpanel", aria-labelledby="feed-tab")
                            // The following code snippet was taken from W3Schools: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_timeline
                            div(class="timeline" id="timelineDiv")
                            // end of code snippet from W3Schools

                    div(class=`tab-pane fade ${(loggedIn)? "": " show active"}`, id="watchlist", role="tabpanel", aria-labelledby="watchlist-tab")
                        each movie in currentUser.watchlist 
                            h2 
                                a(href=`/movies/${movie._id}`) #{movie.title}
                            hr
                    div(class="tab-pane fade", id="recommended", role="tabpanel", aria-labelledby="recommended-tab") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In massa tempor nec feugiat nisl. Vitae purus faucibus ornare suspendisse sed nisi lacus sed. Augue ut lectus arcu bibendum at varius vel pharetra vel. Placerat orci nulla pellentesque dignissim enim. Arcu felis bibendum ut tristique et. Proin libero nunc consequat interdum varius sit. Justo eget magna fermentum iaculis eu non diam phasellus. Integer vitae justo eget magna fermentum. Non nisi est sit amet facilisis. Cras ornare arcu dui vivamus arcu felis. Tellus integer feugiat scelerisque varius morbi enim nunc faucibus. Nec nam aliquam sem et tortor consequat id porta. Lectus vestibulum mattis ullamcorper velit sed. Pretium fusce id velit ut tortor pretium viverra suspendisse potenti. Enim sit amet venenatis urna cursus eget nunc. Lacus sed viverra tellus in hac habitasse platea. Posuere urna nec tincidunt praesent semper feugiat. Amet consectetur adipiscing elit pellentesque. Nisi porta lorem mollis aliquam ut porttitor leo a. Est sit amet facilisis magna. Gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Turpis massa tincidunt dui ut ornare lectus sit amet est. Lacinia at quis risus sed. A diam maecenas sed enim ut sem viverra aliquet. Arcu cursus vitae congue mauris rhoncus aenean vel elit. In egestas erat imperdiet sed euismod.
                    div(class="tab-pane fade", id="reviews", role="tabpanel", aria-labelledby="reviews-tab")
                        each review in currentUser.reviews 
                            h2 Review for 
                                a(href=`/movies/${review.movie._id}`) #{review.movie.title}
                            h3 #{review.reviewSummary} | #{review.rating}/10
                            p #{review.fullReview}
                            h6 Written on #{new Intl.DateTimeFormat('en-CA', { dateStyle: 'full', timeStyle: 'long' }).format(review.reviewDate)}
                            hr
                        if(currentUser.reviews.length == 0)
                            p Currently written no reviews.
        if(loggedIn)
            script(src="/scripts/index.js")
        else 
            script(src="/scripts/users.js")